* {
    margin: 0;
    padding: 0;
}
  
body {  
    font-family: 'Lato', sans-serif;
    background-color: #19191A;
}

.main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

a {
    color: aquamarine;
}

.search {
    width: 400px;
    height: 30px;
    border-color: blue;
    border-style: dotted;
    color: rgb(106, 108, 112);
    border-radius: 12px;
}



