* {
    margin: 0;
    padding: 0;
}
  
body {  
    font-family: 'Lato', sans-serif;
    /* background-color: #19191A; */
}

.my-flex-cont {
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 100px;
   }
   .my-flex-box {
    padding: 5px;
    flex: 0 0.5 0;
    align-self: center;
   }