html, body {
    height: 100%;
    background-color: #19191A;
}
body {
    margin: 0;
}

.form {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}